<div>
  <div class=app>
  	<h1 class=apptitle>Asteroid Tracker</h1>
    <h3 class=enterdate>Enter date below</h3>
    <div class=container>
      <input class=inputdate ng-model="$ctrl.inputDateValue" type="text" placeholder="Search" ng-change="$ctrl.handleChange()" />
    </div>
    <list items="$ctrl.items" dateinput="$ctrl.inputDateValue" sample="$ctrl.sample" anycomments="$ctrl.anycomments" comments="$ctrl.comments" keys="$ctrl.keys"/>
  </div>
</div>






<!-- <input type="text" value="default value"/> -->