<li>
	<h2>Asteroid {{$ctrl.item.name}}</h2>
	<p>Relative Velocity: {{$ctrl.item.close_approach_data[0].relative_velocity.miles_per_hour}} mph</p>
	<p>Potentially Dangerous: {{$ctrl.item.is_potentially_hazardous_asteroid}}</p>
	<p>Estimated Diameter: {{$ctrl.item.estimated_diameter.feet.estimated_diameter_min}} -  {{$ctrl.item.estimated_diameter.feet.estimated_diameter_max}} ft</p>
	<p>Miss Distance: {{$ctrl.item.close_approach_data[0].miss_distance.miles}} mi</p>
	<p>NEO ID: {{$ctrl.item.neo_reference_id}} </p>
	<a class=detailedinfo href="https://ssd.jpl.nasa.gov/sbdb.cgi?sstr={{$ctrl.item.neo_reference_id}}">Detailed info on this asteroid</a>
  <br></br>
</li>
	<!-- <p>COMMENTS: {{$ctrl.anycomments($ctrl.item.neo_reference_id)}}</p> -->
