<div>
  <h1>{{$ctrl.items.element_count}} asteroids making their closest approach toward earth this day!</h1>
 <ul>
  <list-item ng-repeat="item in $ctrl.items.near_earth_objects[$ctrl.keys[0]]" item=item keys="$ctrl.keys" />
 </ul>
</div>


<!-- <div>
  <h4>{{$ctrl.items.title}}</h4>
  {{$ctrl.items.explanation}}
  <img class="media-object" ng-src="{{$ctrl.items.url}}" />
  <list-item ng-repeat="item in $ctrl.items" item=item />
</div> -->



<!-- {$ctrl.items.near_earth_objects["2017-01-11"][0].name}} -->